bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
text.txt
/UniversalToolchain/.idea
/.idea
UniversalToolchain/__pycache__/fffffffffffffffffffffffffffffffffffffffff.cpython-314.pyc
UniversalToolchain/project_as_file/benchmarks.txt
UniversalToolchain/project_as_file/main_code.txt
UniversalToolchain/project_as_file/tests.txt
UniversalToolchain/project_as_file/partial_main_code.txt
